/* IMPORTS
--------------------------- */

/* BASE
-------------------------- */
body,
html {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

/* TYPOGRAPHY
-------------------------- */

/* LAYOUT
-------------------------- */

/* COMPONENTS
-------------------------- */

/* UTILS
-------------------------- */

/* ANIMATIONS
------------------------- */

/* BREAKPOINTS
------------------------- */

